services:
  openvpn:
    build:
      context: .
      dockerfile: Dockerfile.server
    image: registry.six-am.com/sixam/openvpn:latest
    cap_add:
      - NET_ADMIN
    volumes:
      - /shared/openvpn/easyrsa:/etc/openvpn/easyrsa
      - /shared/openvpn/ccd:/etc/openvpn/ccd

  ovpn-admin:
    build:
      context: .
      dockerfile: Dockerfile.ui
    ports:
      - 8080:8080
    image: registry.six-am.com/sixam/ovpn-admin:latest
    command: /app/ovpn-admin
    volumes:
      - /shared/openvpn/easyrsa:/etc/openvpn/easyrsa
      - /shared/openvpn/ccd:/etc/openvpn/ccd
      - ./templates:/etc/openvpn/templates

networks:
  default:
    driver: bridge